.hidden {
	display: none;
}

.table {
	border-color: rgb(141, 60, 87) !important;
}

.tableHead > th {
	background-color: palevioletred !important;
	color: white;
}

.tableBody > td {
	background-color: rgb(249, 217, 228) !important;
}

.btn-primary {
	background-color: palevioletred !important;
	border-color: rgb(141, 60, 87) !important;
}

.btn-primary:hover {
	background-color: rgb(152, 79, 104) !important;
}

.form-label {
	display: flex;
	gap: 4px;
}

.form {
	max-width: 500px;
	min-width: 100px;
}